body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}
#container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.question {
    display: none;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
h1 {
    color: #007bff;
}
h4 {
    color: #343a40;
}
.options {
    margin-top: 20px;
}
.custom-control-label {
    color: #495057;
}
.custom-control-input:checked ~ .custom-control-label::before {
    background-color: #007bff;
    border-color: #007bff;
}
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #f8f9fa, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.btn-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.btn-container button {
    width: 45%;
}
#resultContainer {
    margin-top: 20px;
    background-color: #d4edda;
    padding: 20px;
    border-radius: 10px;
}
#resultText {
    color: #155724;
}